<h1>Games by <%= @user.name %></h1>
<p>&nbsp;</p>
<% Game.all.each do |game| %>
<% date = game.created_at.to_s.split('')[0..9].join %>
<% if game.user_id == @user.id %>
<article>
  <h1><a href="/games/<%=game.id%>"><%= game.name %></h1></a>
	<h4><%=game.blurb%></h4>
  <a href="/games/<%=game.id%>">
  <div class="poloroid">
    <div class="leftup"><%= image_tag game.photo %></div></div></a>
	
	<p class="metadata">Posted on <%= date %> / Likes(<%=game.favorites.count%>)</p>
</article>
		<% end %>
		<% end %>