  <br></br>
  <h3>How Many Players Are Required to Play Your Game?</h3>
  <%= text_field_tag :min_players, "", placeholder: "min players", :size => 6 %>
  <h3>What is the maximum number of players? (optional)</h3>
  <%= text_field_tag :max_players, "", placeholder: "max players", :size => 6 %>
  <h3>How Old Must a Player Be in Order to Play Your Game?</h3>
  <%= text_field_tag :min_player_age, "", placeholder: "min age", :size => 6 %>
  <br></br>
  <br></br>
  <br></br>
  <h3> Write a Quick and Fun Tagline For Your Game  </h3>
  <%= text_area_tag :blurb, "", placeholder: "it's like shuffleboard on caffeine!", size: "70x2" %>
  <h3> What is the Objective of Your Game? </h3>
  <%= text_area_tag :objective, "", placeholder: "the objective is to win!", size: "70x3" %>
  <h3> Describe the Gameplay of Your Game (Don't Miss Any Details!) </h3>
  <%= text_area_tag :gameplay, "", placeholder: "how do we play your game?", size: "70x10" %>
  <h3> List All the Rules of Your Game </h3>
  <%= text_area_tag :rules, "", placeholder: "Rule 1: Don't cheat!", size: "70x10" %>
  <h4>[ click next to see your game ]</h4>
  <%= hidden_field_tag :name, params[:name] %>
  <%= hidden_field_tag :ig_hash_tag, params[:ig_hash_tag] %>
  <%= hidden_field_tag :photo, params[:photo] %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :tag_list, params[:tag_list] %>
  <%= hidden_field_tag :item_list, params[:item_list] %>