	<h2><%=@title%></h2>
	<p>&nbsp;</p>
	<% @games.each do |game| %>
	<% user = User.find_by_id(game.user_id) %>
	<% date = game.created_at.to_s.split('')[0..9].join %>
<article>
	<a href="/games/<%=game.id%>" class="leftup">
	<div class="poloroid"><%= image_tag game.photo %></div></a>
	<% if game.objective %>
	<h4><%=game.objective%></h4>
	<h3>in<h3>
		<% end %>
	<h1><a href="/games/<%=game.id%>"><%= game.name %></h1></a>
	<br></br>
	<% if game.min_players %>
	<p>Minimum Players: <%=game.min_players%></p>
	<% end %>
	<% if game.max_players %>
	<p>Maximum Players: <%=game.max_players%></p>
	<% end %>
	<% if game.min_player_age %>
	<p>For ages <%=game.min_player_age%> and up</p>
	<% end %>
	<h4 class="leftup">"<%= game.blurb %>"</h4>
	<p class="metadata">Posted by <a href="/users/<%=user.id%>" %><%= user.name %></a> on <%= date %> / Likes(<%=game.favorites.count%>)</p>
</article>
		<% end %>