	<h2><%=@title%></h2>
	<p>&nbsp;</p>
	<% @games.each do |game| %>
	<% user = User.find_by_id(game.user_id) %>
	<% date = game.created_at.to_s.split('')[0..9].join %>
<article>
	<% if game.objective %>
	<h4 class="leftup"><%=game.objective%></h4>
	<h3 class="leftup">in<h3>
		<% end %>
	<h1><a href="/games/<%=game.id%>"><%= game.name %></h1></a>
				<br></br>
	<a href="/games/<%=game.id%>" class="leftup">
	<div class="poloroid"><%= image_tag game.photo %></div></a>
	<br></br>
			<br></br>
			<br></br>
				<% if game.min_player_age %>
			<h4>Ages <%=game.min_player_age%> and up</h4>
			<% else %>
			<br></br>
			<% end %>
			<% if game.min_players %>
			<h4>Minimum Players: <%=game.min_players%></h4>
			<% else %>
			<br></br>
			<% end %>
			<% if game.max_players %>
			<h4>Maximum Players: <%=game.max_players%></h4>
			<% else %>
			<br></br>
			<% end %>
					<br></br>
			<br></br>
					<br></br>
			<br></br>
	<h4 class="leftup">"<%= game.blurb %>"</h4>
			<br></br>
			<br></br>
	<p class="metadata">Posted by <a href="/users/<%=user.id%>" %><%= user.name %></a> on <%= date %> / Likes(<%=game.favorites.count%>)</p>
</article>
		<% end %>