<% if @game %>
<% user = User.find_by_id(@game.user_id) %>
<% date = @game.created_at.to_s.split('')[0..9].join %>
<% all_users = User.all %>
<% likes = [] %>
<% all_users.each do |player| %>
<% player.favorites.all.each do |favorite| %>
<% if @game.id == favorite.game_id %>
<% likes << player %>
<% end %>
<% end %>
<% end %>
<article>
	<h1><%= @game.name %></h1>
	<h3><%= @game.blurb %></h3>
	<div class="poloroid">
		<div class="leftup"><%= image_tag @game.photo %></div></div>
		<p>&nbsp;</p>
	<p><%=@game.objective%></p>
	<p>Minimum Players:<%=@game.min_players%></p>
	<p>For ages <%=@game.min_player_age%> and up</p>
	<p><%=@game.additional_information%></p>
	<p>Gameplay: <%=@game.gameplay%></p>
	<p>Rules: <%=@game.rules%></p>
	<p class="metadata">Posted by <a href="/users/<%=user.id%>" %><%= user.name %></a> on <%= date %> / Likes(<%=likes.count%>)</p>
</article>
<% end %>
<% if current_user %>
<% favorite_games = [] %>
<% current_user.favorites.all.each do |favorite| %>
<% favorite_games << favorite.game_id %>
<% end %> 
<p>&nbsp;</p>
<% if favorite_games.include? @game.id %>
<a href="/users/unlike/<%=@game.id%>" %><%= image_tag("unlike.png", :size => "100x100")%></a>
<% else %>
<a href="/users/favorites/<%=@game.id%>" %><%= image_tag("like2.jpg", :size => "84x84")%></a>
<% end %>
<% if current_user.id == user.id %>
<h4><a href="/games/<%=@game.id%>/edit" %>Edit Game</a> | <a href="/games/<%=@game.id%>/delete" %>Delete Game</a></h4>

<% end %>
<% end %>
