<!DOCTYPE html>
<html>
<head>
  <title>Blacktop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="maincontent">

<div class="span_1_of_2">

<div id="container">

<a href="/games"><div class="backing" id="header">
	<h5>BLACKTOP</h5>
  <p>&nbsp;</p>
  <h2>[share the games you create]</h2>
</div></a>

<div class="backing" id="content">
<%= yield %>

<!-- #move this up -->
</div class="span_2_of_2">

<div class="backing" id="sidebar">
	<%highlights = Game.all%>
<div id="user_nav">
  <% if current_user %>
    <a href="/users/<%=current_user.id%>" %>Logged in as <%= current_user.name %>.</a>
    <p></p>
    <% %>
    <h3><a href="/user/<%=current_user.id%>/home" %>Home</a> | <%= link_to "Log out", log_out_path %></h3>
    <p>&nbsp;</p>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "Log in", log_in_path %>
    <p>&nbsp;</p>

  <% end %>
</div>


<h3><a href="/games">[view all games]</a></h3>
<p>&nbsp;</p>
<h3>NEWEST</h3>
<p><a href="/games/<%=highlights[-1].id%>"><%=highlights[-1].name%></p></a>
<p><a href="/games/<%=highlights[-2].id%>"><%=highlights[-2].name%></p></a>
<p><a href="/games/<%=highlights[-3].id%>"><%=highlights[-3].name%></p></a>
<p><a href="/games/<%=highlights[-4].id%>"><%=highlights[-4].name%></p></a>
<p>&nbsp;</p>
<h3>MOST LIKED</h3>
<p><a href="/games/<%=highlights[0].id%>"><%=highlights[0].name%></p></a>
<p><a href="/games/<%=highlights[1].id%>"><%=highlights[1].name%></p></a>
<p><a href="/games/<%=highlights[2].id%>"><%=highlights[2].name%></p></a>
<p><a href="/games/<%=highlights[3].id%>"><%=highlights[3].name%></p></a>
<p><a href="/games/<%=highlights[4].id%>"><%=highlights[4].name%></p></a>

<% if current_user %>
<p>&nbsp;</p>
<h3><%= link_to "[add new game]", games_new_path %></h3>
<% end %>

</div><!-- sidebar -->

<footer <!-- class="clear_both" -->
</div>

</div>

</div>

</div>


</body>
</html>
