<!DOCTYPE html>
<html>
<head>
  <title>Blacktop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="maincontent">

<div class="span_1_of_2">

<div id="container">

<a href="/"><div class="backing" id="header">
	<h5>BLACKTOP</h5>
  <p>&nbsp;</p>
  <h2>[ share the games you create ]</h2>
</div></a>

<div class="backing" id="content">
<%= yield %>

<!-- #move this up -->
</div class="span_2_of_2">

<div class="backing" id="sidebar">
<div id="user_nav">
  <% if current_user %>
    <a href="/users/<%=current_user.id%>" %>Logged in as <%= current_user.name %>.</a>
    <p></p>
    <% %>
    <h3><a href="/user/<%=current_user.id%>/home" %>Home</a> | <%= link_to "Log out", log_out_path %></h3>
    <p>&nbsp;</p>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "Log in", log_in_path %>
    <p>&nbsp;</p>

  <% end %>
</div>


<% if current_user %>
<h3><%= link_to "[ add new game ]", games_new_path %></h3>
<p>&nbsp;</p>
<% end %>
<h3><%= link_to "[ view all games ]", games_path%></h3>
<p>&nbsp;</p>
<%= form_tag do %>
<%= text_field_tag :search_parameter, "", placeholder: "search by keyword", size: 15 %>
<br></br>
<%= submit_tag "Search" %>
<% end %>
<% if Game.all.count >= 4 %>
	<%highlights = Game.all.sort%>
<p>&nbsp;</p>
<h3>NEWEST</h3>
<p><a href="/games/<%=highlights[-1].id%>"><%=highlights[-1].name%></p></a>
<p><a href="/games/<%=highlights[-2].id%>"><%=highlights[-2].name%></p></a>
<p><a href="/games/<%=highlights[-3].id%>"><%=highlights[-3].name%></p></a>
<p><a href="/games/<%=highlights[-4].id%>"><%=highlights[-4].name%></p></a>
<p>&nbsp;</p>

<% likeabity = Game.all.sort{|x,y| y.favorites.count<=>x.favorites.count}%>

<h3>MOST LIKED</h3>
<p><a href="/games/<%=likeabity[0].id%>"><%=likeabity[0].name%></p></a>
<p><a href="/games/<%=likeabity[1].id%>"><%=likeabity[1].name%></p></a>
<p><a href="/games/<%=likeabity[2].id%>"><%=likeabity[2].name%></p></a>
<p><a href="/games/<%=likeabity[3].id%>"><%=likeabity[3].name%></p></a>
<% end %>

</div><!-- sidebar -->

<footer <!-- class="clear_both" -->
</div>

</div>

</div>

</div>


</body>
</html>
